<section>
    <div class="row">
        <aside class="col-md-3 visible-md visible-lg" ng-if="navStatus.visible">
            <div class="panel panel-no-panels panel-nav">
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <categorytree tree='tree' current='currentCategory' />
                    </ul>
                </nav>
            </div>
        </aside>
        <div ng-class="{ 'col-md-9 store-wrapper': navStatus.visible, 'col-md-12': !navStatus.visible }">

            <homemessage ng-if="isActive('catalog')" />

            <categorylistview></categorylistview>

            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>

            <productlistview></productlistview>

        </div>
    </div>
</section>