<div class="checkout-reminder">
    <div class="alert alert-success" ng-show="!cart_shipping.$invalid && !cart_order.$invalid && !cart_billing.$invalid  && !shipaddressform">
    <h3>You're almost there!</h3>
    To complete your order, click the <strong>SUBMIT ORDER</strong> button below
    <i class="fa fa-hand-o-down"></i>
    </div>
    <ul>
        <li>
            <button class="btn"
                    ng-class="{'btn-warning': cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked, 'btn-success': !cart_shipping.$invalid && !cart_order.$invalid && !cart_billing.$invalid || !submitClicked }"
                    ng-click="submitOrder()" ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked">
                <i ng-show="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid || submitClicked" class="fa fa-warning"></i>
                <span>{{('Submit' | r) + ' ' + ('Order' | r) | xlat}}</span>
            </button>
        </li>
    </ul>
</div>