<section class="login-wrapper">

    <div class="login">
        <div class="login-header">
            <hr class="login-header-top" />
            <div class="login-header-banner">
                <h1>The right seed for every acre. The right thank you for every grower.</h1>
            </div>

            <p>We appreciate the support of our most loyal customers. As a token of our gratitude, we're offering free floor mats and customizable signs that convey the pride our growers
            take in their work.</p>

            <h4>Ready? Let's do this.</h4>
            <p>Enter your username and password below.</p>
        </div>

        <div class="login-box">
            <div id="login_form" class="animated bounceIn">
                <form class="form-signin" ng-submit="login()" name="login_form">
                    <div class="login-links">
                        <p ng-show="loginMessage && !showEmailHelp" ng-bind-html="loginMessage" class="alert alert-info"></p>
                    </div>
                    <div>
                        <div class="view-form-icon" ng-show="!showEmailHelp && !PasswordReset && (loginMessage != 'Your password has expired and will need to be changed.')">
                            <div>
                                <label>{{'Username' | r}}</label>
                                <input autofocus class="form-control" type="text" ng-model="credentials.Username" placeholder="{{'Username' | r}}" ng-required="user.Type != 'Customer'" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div ng-show="!PasswordSecurityException">
                                <label>{{'Password' | r}}</label>
                                <input class="form-control" type="password" ng-model="credentials.Password" placeholder="{{'Password' | r}}" ng-required="user.Type != 'Customer'" />
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="view-form-icon" ng-show="loginMessage == 'Your password has expired and will need to be changed.'">
                            <div>
                                <label>{{'Username' | r}}</label>
                                <input autofocus class="form-control" type="text" ng-model="credentials.Username" placeholder="{{'Username' | r}}" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <label>Current {{'Password' | r}}</label>
                                <input class="form-control" name="current_password" type="password" ng-model="credentials.CurrentPassword" placeholder="Current {{'Password' | r}}" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <div>
                                <label>New {{'Password' | r}}</label>
                                <input class="form-control" ng-required="PasswordReset" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <div>
                                <label>Confirm {{'Password' | r}}</label>
                                <input class="form-control" ng-required="PasswordReset" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                                <i class="fa fa-lock"></i>
                                <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!" />
                            </div>
                        </div>
                        <div class="login-links">
                            <p class="alert alert-info" ng-show="showEmailHelp && (!EmailNotFoundException || !PasswordSecurityException)">
                                If you would like to be reminded of your {{'Username' | r}} or have the option to reset your {{'Password' | r}}, please provide your email address and your log on information will be emailed to you immediately.
                            </p>
                            <p ng-show="!showEmailHelp && !PasswordReset && !EmailNotFoundException && !PasswordSecurityException" >
                                <a ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Submit'">
                                    Forgot Your Password?
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </p>
                            <div class="view-form-icon" ng-show="showEmailHelp">
                                <div>
                                    <label>{{'Email' | r}}</label>
                                    <input class="form-control" type="email" ng-model="credentials.Email" placeholder="{{'Email' | r}}" ng-required="user.Type != 'Customer' && showEmailHelp" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                            <p ng-show="showEmailHelp">
                                <i class="fa fa-caret-left"></i>
                                <a ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Logon'">
                                    Return to logon
                                </a>
                            </p>
                        </div>
                        <div>
                            <div class="view-form-icon" ng-show="PasswordSecurityException">
                                <div>
                                    <label>Current {{'Password' | r}}</label>
                                    <input class="form-control" name="current_password" type="password" ng-model="credentials.CurrentPassword" placeholder="Current {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label>New {{'Password' | r}}</label>
                                    <input class="form-control" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label>Confirm {{'Password' | r}}</label>
                                    <input class="form-control" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                                    <i class="fa fa-lock"></i>
                                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="view-form-icon" ng-show="PasswordReset">
                                <div>
                                    <label>New {{'Password' | r}}</label>
                                    <input class="form-control" ng-required="PasswordReset" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label>Confirm {{'Password' | r}}</label>
                                    <input class="form-control" ng-required="PasswordReset" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                                    <i class="fa fa-lock"></i>
                                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!" />
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary" ng-disabled="login_form.$invalid" type="submit" value="{{buttonText}}" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>