<header class="header navbar navbar-inner">
    <nav class="navbar navbar-default" role="navigation">
        <section>
            <div class="container">

                <div class="logo">
                    <a href="catalog">
                        <!--<img class="img-responsive" ng-src="{{user.Company.LogoUrl}}" />-->
                        <img class="img-responsive" src="css/images/custom/logo-337x174.png" />
                    </a>
                </div>

                <ul class="nav navbar-nav pull-left">
                    <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
                        <a ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Choose a Gift' | rc | xlat}}</span>
                        </a>
                    </li>
                    <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
                        <a class="cart" href="cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-xs">{{'Cart' | rc | xlat}}</span>
                            <span ng-bind="cartCount" class="badge text-success"></span>
                        </a>
                    </li>
                    <li class="report" ng-if="user.Type == 'Customer' && user.Permissions.contains('AdvancedReporting')" ng-class="{'active': isActive('reports')}">
                        <a href="reports">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">{{'Reports' | r | xlat}}</span>
                        </a>
                    </li>
                    <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message'])}">
                        <a href="admin" class="hidden-md hidden-lg">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r | xlat}}</span>
                        </a>
                    </li>
                    <li class="dropdown admin-user visible-md visible-lg" ng-class="{'active': isActive(['admin', 'order', 'addresses', 'address', 'messages', 'message'])}">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r | xlat}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-show="user.Permissions.contains('ViewSelfAdmin')" ng-class="{'active': isActive('admin')}">
                                <a href="admin">
                                    {{'Profile' | r | xlat}}
                                </a>
                            </li>
                            <li class="order" ng-if="user.Type == 'Customer'" ng-class="{'active': isActive('order')}">
                                <a href="order">
                                    {{'Orders' | r | xlat}}
                                </a>
                            </li>
                            <li ng-show="user.Type == 'Customer' && (user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress'))"
                                ng-class="{'active': isActive(['addresses', 'address'])}">
                                <a href="addresses">
                                    {{'Addresses' | r | xlat}}
                                </a>
                            </li>
                            <li class="order" ng-if="user.Type == 'Customer'" ng-class="{'active': isActive('favoriteorders')}">
                                <a href="favoriteorders">
                                    {{'Favorites' | r | xlat}}
                                </a>
                            </li>
                            <li ng-show="user.Type == 'Customer' && user.Permissions.contains('ViewMessaging')" ng-class="{'active': isActive(['messages', 'message'])}">
                                <a href="message">
                                    {{'Messages' | r | xlat}}
                                </a>
                            </li>
                            <li>
                                <a href="#" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="neworder" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
                                    {{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                        <a href="contactus">
                            <i class="fa fa-info-circle"></i>
                            <span class="hidden-xs">{{'Contact Us' | r | xlat}}</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li ng-show="user.Type!='TempCustomer'" class="logout">
                        <a href="#"  class="451_btn_logout" ng-click="Logout()">
                            <span class="hidden-xs">{{'Log Out' | r | xlat}}</span>
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</header>
